# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=us-east-1

# S3 Buckets
AWS_S3_BUCKET_BRONZE=your-bronze-bucket-name
AWS_S3_BUCKET_SILVER=your-silver-bucket-name
AWS_S3_BUCKET_GLUE_SCRIPTS=your-glue-script-bucket

# Redshift
REDSHIFT_HOST=your-endpoint.redshift-serverless.amazonaws.com
REDSHIFT_PORT=5439
REDSHIFT_DATABASE=dev
REDSHIFT_USER=admin
REDSHIFT_PASSWORD=your_password_here

# ENTSO-E API
ENTSO_API_KEY=your_entso_api_key

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_TELEMETRY=bosch_telemetry
KAFKA_TOPIC_PRICES=energy_prices

# Environment
ENVIRONMENT=development
DEBUG=True

# Bosch Dataset
BOSCH_DATA_DIR=your-bosch_data_local_directory_path